.forum-page {
    margin: 0 auto;
    max-width: 80vw;
    section {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section-title {
        width: 100%;
        text-align: center;
    }
    .sentiment-info {
        margin: 0 auto;
        width: 1000px;
    }
    .social-network {
        margin: 0 auto;
        width: 800px;
    }
}
