<div class="main-page">
    <ui-toolbar class="header" :remove-nav-icon="true" text-color="white" type="colored" :loading="networkLoading"  >
    </ui-toolbar>
    <div class="page grid">
        <section class="col col-11 content">
            <div class="video-part">
                <video-player
                    ref="myPlayer"
                    v-show="selectedVideo"
                    :options="videoConfig"
                    :configs="{ youtube: true, switcher: true, hls:false }"
                    @timeupdate="playerTimeupdate"
                />
            </div>
            <div class="chart-part">
                <div id="content-video-progress-bar"></div>
                <div v-show="chartData" class="click-filters">
                    <tags-input :tags="filters" @tags-change="removeFilter"></tags-input>
                </div>
                <seek-line
                    v-show="seekData"
                    :seek-data="seekData"
                    @seeklinegraph-click="onClickSeekLineGraph"
                />
                <nvd3-stack-chart
                    id="stacked-area-graph"
                    v-show="chartData"
                    :clicks="chartData">
                </nvd3-stack-chart>
            </div>
        </section>
        <section class="col col-1">
            <tool-list></tool-list>
        </section>
    </div>
</div>
