<div class="tool-list">
    <div class="dash-category-label">
        <hr>Course
        <hr>
    </div>

    <tl-course-info></tl-course-info>
    <tl-videopop-info></tl-videopop-info>
    <tl-demographic-info></tl-demographic-info>

    <!-- video -->
    <div class="dash-category-label">
        <hr> Video
        <hr>
    </div>

    <tl-temporal-info></tl-temporal-info>

    <div class="dash-category-label">
        <hr> Forum
        <hr>
    </div>

    <tl-sentiment-info />
    <tl-social-network />

    <tl-dropout-info />
</div>
